div {
   font-family: serif;
   font-size: 100% ;
}

h2, h3, h5 {
    font-family: cursive;
    font-size: 130% ;


}
h1{
    font-family: cursive;

}

@media only screen and (max-width: 600px) {
div {
    font-size: 120%;

}


}

